# NEXT_PRIVATE_GOOGLE_MAP_KEY=.....................
# NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=..........
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=.........
# DB_HOST=127.0.0.1
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=rosie
# NEXT_PUBLIC_AUTHNET_CLIENT_KEY=.......
# NEXT_PUBLIC_AUTHNET_API_LOGIN_ID =........
# AUTHNET_API_LOGIN_ID=......
# AUTH_NET_TRANSACTION_KEY=.......
# MIN_FARE=25
# PER_MILE=4
# REDIS_URL=redis://localhost:6379

# -------------------------------------------------------------

# New ENVs

NEXT_PRIVATE_GOOGLE_MAP_KEY=AIzaSyBQSjCD56qhBETbfs6rFoBgJnxB3AiEOc0
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBQSjCD56qhBETbfs6rFoBgJnxB3AiEOc0
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29zbWljLW1vdGgtNjkuY2xlcmsuYWNjb3VudHMuZGV2JA
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=rosie
NEXT_PUBLIC_AUTHNET_CLIENT_KEY=669PXwm629Bjfk5uqQd8BQ7pn5hpK2PE9hWerC6Emu67326ha3YETg73B2f37j4X
NEXT_PUBLIC_AUTHNET_API_LOGIN_ID=69m54anLHWK
AUTHNET_API_LOGIN_ID=69m54anLHWK
AUTH_NET_TRANSACTION_KEY=5tap7er2L5V365U2
MIN_FARE=25
PER_MILE=3.8
DISCOUNT_PERCENT=20.0

EMAIL_HOST=mail.rosietaxicab.com
EMAIL_PORT=587
EMAIL_USER=nhnansari@rosietaxicab.com
EMAIL_PASSWORD=2k34jlk2j4lk3j4lk
EMAIL_FROM_NAME="RosieTaxiCab"
EMAIL_FROM_ADDRESS=nhnansari@rosietaxicab.com
ADMIN_EMAIL=ben@rosietaxicab.com
EMAIL_SECURE=false

NEXT_PUBLIC_BACKEND_URL=https://payload-backend-three.vercel.app